body{
    background-color: aquamarine;
}
a {
    text-decoration: none;
 }
 .menu_link{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
 }
 .main_heading{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
 }
 .main_paragraph{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
 }
 .subheading_l2{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
 }
 .goods_view{
    border-radius: 50%;
    border: red 4px double;
    width: 200px;
 }